@media (prefers-color-scheme: dark) {
  body { background: #333; color: white; }
}

@media (prefers-color-scheme: light) {
  body { background: #ddd; color: black; }
}


#gameContainer, #btn-container{
  text-align: center;
}

#gameBoard{
  border: 3px solid;
}

#scoreDisplay{
  font-family: "Permanent Marker", cursive;
  font-size: 50px;
}

#startGameBtn{
  font-family: "Permanent Marker", cursive;
  width: 100px;
  height: 50px;
  border: 4px solid;
  border-radius: 15px;
  cursor: pointer;
}

#resetGameBtn{
  font-family: "Permanent Marker", cursive;
  width: 100px;
  height: 50px;
  border: 4px solid;
  border-radius: 15px;
  cursor: pointer;
}